
.azeret-mono-font {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
/* shared style */
.text-description{
  font-size: 16px;
  color: #0D1321;
}


/* nav style */
nav{
  display: flex;
  justify-content: space-between;
  margin: 58px 228px 22px 33px;
}
/*nav font-size */
.nav-header{
  font-size: 20px;
}
.nav-btn{
font-size: 28px;
}
/* niv> div style */
.bg-img{
  background-image: url("../tssets/Hero-bg.png");
  height: 652px;
  width: 1441px;
  text-align: center;

}
div{
  width: 998px;
  height: 582px;
  text-align: center;
  margin-left: 300px;
}
.div-contain{
  
  list-style-type: none;
}
.div-title{
  font-size: 48px;
  width:980px ;
}

.div-btn{
  width: 208px;
  height: 66px;
  color: #FFFFFF;
  background-color:#0D1321 ;
  font-size: 20px;
}



/* main style */
.main-nav{
  width: 1140px;
  height: 1393px;
  border-radius: 16px;
  margin:148px 148px ;
}
.main-div{
  width: 946px;
  height: 1233px;
}
.main-first-div{
  text-align: center;
}