
.azeret-mono-font {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
/* shared style */
.text-description{
  font-size: 16px;
  color: #0D1321;
}
.header-div{
  font-size: 32px;
}
.main-nav-header{
  font-size: 24px;
  color: #0D1321;
  margin-bottom: 10px;
}
.main-nav-btn{
  width: 170px;
  height: 47px;
  margin-top: 15px;
}
.section-description{
  font-size: 32px;
}
.skill{
  width: 284px;
  height: 219px;
  padding: 40px 40px;
}
/* header style */

/* nav style */
nav{
  display: flex;
  justify-content: space-between;
  margin: 58px 228px 22px 33px;
  text-align: center;
}
/*nav font-size */
.nav-header{
  font-size: 20px;
}
.nav-btn{
font-size: 20px;
width: 244px ;
height: 57px;
}
/* niv> div style */
.bg-img{
  background-image: url("../tssets/Hero-bg.png");
  height: 594px;
  width: 1040px;
}

/* main style */
.main-section{
  background-color:#FFFFFF;
  width: 1040px;
  margin: 135px 48px;
}
.main-div{
  width: 775px;
  height: 102px;
  background-color: #FFFFFF;
  text-align: center;
  padding: 47px 0px;
  margin-bottom: 40px;
}
.bg-color{
  background-color: rgb(13,19,23,3%);
  padding: 10px 20px;

}
.main-niv{
  background-color: rgb(255,255,255,100%);
  height: 313px;
}

.main-nav1{
  font-size: 24px;
  width: 850px;
  height: 220px;
  padding: 48px;
  justify-content: space-around;
  gap: 130px;
}
.main-nav1 ul{
  list-style: none;
}
.main-nav2{
  font-size: 24px;
  width: 850px;
  height: 220px;
  padding: 48px;
  justify-content: start;
  gap: 130px;
}
.main-niv3{
  font-size: 24px;
  width: 850px;
  height: 220px;
  padding: 48px;
  justify-content: space-around;
  gap: 130px;
}

/* video contain */
.video-contain-text{
  text-align: center;
  margin-bottom: 30px;
}
.video{
  width: 1040px;
  height: 250px;
  text-align: center;
}
/* skills... */
.skill-contain{
  text-align: center;
  margin-bottom: 20px;
}
.skills{
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}
.skill1{
  background-color:rgb{255,76,33,5%};
}
/* footer-style */
.footer-bg-img{
  background-image: url("../tssets/handshake.jpg");
  height: 313px;
  width: 1040px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 50px;
  text-align: center;
}
.footer-input{
  width: 548px;
  height: 52px;
}
.footer-button{
  width: 120px;
  height:52px;
}
.commitment{
  display: flex;
margin: 2px black solid;
width: 1000px;
height: 32px;
padding: 150px 32px;
  
}
.commitment ul{
  list-style-type: none;
  display: flex;

}



